{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/introduce.css' %}">
<body>
    <main>
        <!-- Section 1: Investment Goals -->
        <section id="muc-tieu-dau-tu" class="section">
            <h2>Mục tiêu đầu tư</h2>
            <p>Đầu tư mua sắm Giải pháp Phòng chống Thất thoát Dữ liệu để hỗ trợ việc kiểm soát và hạn chế tối đa thất
                thoát ra bên ngoài đối với các dữ liệu quan trọng được lưu trữ trên các máy chủ/máy trạm mà BIDV quản lý
                thông qua các kênh trao đổi, truyền gửi dữ liệu điện tử như qua email, qua các chương trình nhắn tin
                trực tuyến, qua in ấn, qua việc sao chép ra các thiết bị lưu trữ (USB, ổ cứng di động) hoặc tải lên các
                trang web chia sẻ file trực tuyến.</p>
        </section>

        <!-- Section 2: Necessity -->
        <section id="su-can-thiet" class="section">
            <h2>Sự cần thiết</h2>
            <p>Trong bối cảnh sự phát triển không ngừng của Internet cho chúng ta thấy sức mạnh của dữ liệu thì đi cùng
                với đó là tỷ lệ thất thoát dữ liệu tăng cao, gây ra nhiều hệ quả nghiêm trọng cho cả doanh nghiệp lẫn
                khách hàng. Việc mất mát, rò rỉ thông tin có thể ảnh hưởng nghiêm trọng đến tài chính, danh tiếng của
                công ty và quan hệ với các đối tác. Vấn đề thất thoát dữ liệu trong doanh nghiệp luôn được quan tâm kiểm
                soát và khắc phục bằng các giải pháp chống thất thoát dữ liệu, kết hợp với các hệ thống bảo mật khác sẽ
                giúp các tổ chức đảm bảo an ninh thông tin và tránh được các rủi ro và hậu quả tiềm ẩn khi không có giải
                pháp này.
                Đồng thời, từ ngày 01/07/2023, Nghị định 13/2023/NĐ-CP về bảo vệ dữ liệu cá nhân có hiệu lực đặt ra yêu
                cầu cao hơn về việc phải bảo mật dữ liệu cá nhân. Trước tình hình đó, các ngân hàng đều đang khẩn trương
                triển khai các biện pháp tăng cường bảo mật dữ liệu. Vì vậy nhu cầu trang bị giải pháp DLP càng trở nên
                cấp thiết hơn đối với BIDV.
                Hiện nay, về mặt chính sách, quy định, BIDV đã ban hành một số văn bản quy định về an toàn, bảo mật
                thông tin (Quy chế an toàn, bảo mật hệ thống thông tin ban hành theo Quyết định số 1039/QĐ-BIDV ngày
                03/11/2023, Quy chế quản lý và bảo vệ bí mật thông tin ban hành theo Quyết định số 448/QĐ-BIDV ngày
                22/5/2019); quy định về danh mục thông tin bí mật của BIDV (QĐ 3501/QĐ-BIDV ngày 06/7/2021), tuy nhiên
                chưa có chính sách, quy định tổng thể cho công tác phòng chống thất thoát dữ liệu tại BIDV.
                Về mặt công cụ kiểm soát, BIDV chưa có công cụ phòng chống thất thoát dữ liệu tổng thể, toàn diện để hạn
                chế, kiểm soát rủi ro thất thoát dữ liệu.
            </p>
        </section>

        <!-- Section 3: Action -->
        <section id="hanh-dong" class="section">
            <h2>Hành động</h2>
            <p>BIDV là một trong những ngân hàng lớn với nguồn dữ liệu đồ sộ, nhiều thông tin quan trọng như tài sản sở
                hữu trí tuệ, thông tin chiến lược, cơ sở dữ liệu khách hàng… Nếu đặt tình huống rủi ro bị thất thoát dữ
                liệu với khối lượng lớn có thể gây ảnh hưởng không nhỏ đến uy tín, thương hiệu, lợi nhuận và tình hình
                hoạt động ngân hàng. Trong khi đó, từ phân tích hiện trạng thực tế như trên có thể thấy các giải pháp
                phòng chống thất thoát dữ liệu mà BIDV đang trang bị là rất hạn chế và đơn lẻ, hầu như chưa có giải pháp
                chuyên dụng để phát hiện và phòng chống các hành vi sử dụng, chia sẻ dữ liệu không đúng mục đích từ bên
                trong Ngân hàng ra ngoài. Ngoài ra, theo khuyến nghị của Cục Công nghệ tin học – NHNN và Kiểm toán PwC
                trong Dự án thuê ngoài Kiểm toán CNTT đánh giá thất thoát dữ liệu tại BIDV: BIDV chưa trang bị một giải
                pháp phòng chống thất thoát dữ liệu (DLP) chuyên biệt để ghi nhận, giám sát, phân tích và phát hiện
                những vấn đề liên quan tới rò rỉ dữ liệu, vì vậy BIDV cần sớm nghiên cứu, lập kế hoạch triển khai giải
                pháp DLP tổng thể để phòng chống lộ lọt dữ liệu.
                Việc trang bị Giải pháp Phòng chống Thất thoát Dữ liệu tổng thể cho hệ thống, đảm bảo đạt hiệu quả tối
                ưu trong công tác kiểm soát, phòng chống thất thoát dữ liệu là rất cần thiết. Dự án đã được phê duyệt
                chủ trương đầu tư tại Nghị quyết số 260/NQ-BIDV ngày 25/03/2024 của HĐQT v/v phê duyệt Kế hoạch CNTT
                2024.
            </p>
        </section>

        <!-- Section 4: Components and Modules -->
        <section id="he-thong-dlp" class="section">
            <h2>Cấu phần và module của hệ thống DLP</h2>
            <p>Hệ thống DLP gồm 02 cấu phần:</p>
            <ul>
                <li>Phân loại, gán nhãn dữ liệu.</li>
                <li>Phòng chống thất thoát dữ liệu:</li>
                <ul>
                    <li>DLP Discovery/Storage</li>
                    <li>DLP Endpoint</li>
                    <li>DLP Network</li>
                    <li>DLP Cloud</li>
                </ul>
                <li>
                    (i) DLP Discovery/Storage (cho hệ thống lưu trữ): áp dụng cho các thành phần file server, folder lưu
                    trữ. Cho phép rà soát, tìm kiếm và phân loại các file chứa dữ liệu nhạy cảm trên các hệ thống lưu
                    trữ tại máy trạm, máy chủ.
                </li>
                <li>
                    (ii) DLP Endpoint (cho máy trạm, máy chủ vật lý): đảm bảo dữ liệu nhạy cảm trên máy trạm, máy chủ
                    vật lý bị hạn chế truy xuất ra ngoài, sao chép sang USB, in ấn... Riêng đối với hệ thống máy chủ ảo
                    hóa thì không cần cài agent vì không có khả năng thất thoát qua kênh sao chép USB hoặc in ấn. Trong
                    trường hợp thất thoát qua việc truyền gửi ra bên ngoài thì đã được bảo vệ bởi kênh DLP Network.
                    Ngoài ra trên máy chủ đã có các giải pháp PAM để kiểm soát các thao tác thực hiện trên máy chủ.
                </li>
                <li>
                    (iii) DLP Network (cho kết nối web, truyền gửi email): tích hợp với hệ thống web proxy và email
                    gateway để phòng chống thất thoát dữ liệu cho luồng truy cập web hoặc luồng truyền gửi email tại
                    cổng kết nối internet.
                </li>
                <li>
                    (iv) DLP Cloud (cho môi trường cloud): giải pháp sẽ tích hợp trực tiếp với các cloud service qua API
                    để phòng chống thất thoát dữ liệu. Module này sẽ cho phép: Kiểm soát việc người dùng thực hiện share
                    link tài liệu quan trọng trên cloud với email bên ngoài và tự động revoke link nếu phát hiện thất
                    thoát; kiểm soát và block trường hợp soạn email online từ email ngoài BIDV và đính kèm hoặc gửi các
                    dữ liệu quan trọng ra bên ngoài; kiểm soát việc người dùng soạn thảo online từ các ứng dụng văn
                    phòng online và lưu về google drive hoặc dropbox... DLP sẽ scan và kiểm soát dữ liệu có được lưu
                    trên cloud hay không; giám sát, phân tích, phát hiện các hành vi bất thường của người dùng và đưa ra
                    các biện pháp cảnh báo hoặc ngăn chặn phù hợp.
                </li>
            </ul>
        </section>
    </main>
</body>
{% endblock %}